
body {
	--color-accent: oklch(65.49% 0.061 147.88);
    /* Set line height to 1.5 times the font size
       and use the OS’s UI font as the website font
     */
    font: 100%/1.5 system-ui;
	max-width: 120ch;
    margin-inline: auto;
	padding: 5ch;
	accent-color: var(--color-accent);
	background-color: oklch(from var(--color-accent) 95% 5% h)
   }


   article {
	display: grid;
	grid-template-rows: subgrid;
	grid-row: span 3;
}

article > h2 {
	margin: 0;
}

h1 {
	font-size: 2.7em;
	text-align: center;

}
.projects{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
}
img {
	max-width: 100%
}

form {
	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: 1em;

}

label, button {
	display: grid;
	grid-template-columns: subgrid;
	grid-column: 1 / -1;

}

nav {
	display: flex;
	color: inherit;
	text-align: center;
	padding: 0.5em;
	margin-bottom: 2em;
	border-bottom: 1px solid oklch(80% 3% 200);
}

nav > a{
	flex: 1;
	text-decoration: none;
}

.current {
	border-bottom: 0.4em solid oklch(80% 3% 200);
	padding-bottom: 0.1em;

}

a:hover {
	border-bottom: 0.4em solid var(--color-accent);
}

a {
	color: black;
}