
.contact {
    display: flex;
    text-align: center;
    margin: auto;
    width: 40% ;
    font-size: 10px;
    justify-content: space-around;
    

}

.contact > div {
    display: flex;
    vertical-align: middle;
    align-items: center;
    text-decoration: none;


}

.contact > a {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.contact span {
    margin-right: 5px;
}

.contact img {
    margin-right: 5px;
}

.date_complete {
    margin-right: 10px;
    font-size: 10px;
}

.resume_header {
    text-align: center;
}

.exp_item{
   display: grid;
   grid-template-rows: subgrid;
   grid-row: span 3;
}

.exp_title {
    grid-column: 1;
}

.date_complete {
    grid-column: 2;
    text-align: center;
    margin: auto;
    font-size: 1em;
}


